<div class="container mt-3">
    <div class="row">
      <div class="col">
        <p class="h3 text-success">Orders Admin List</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur assumenda consectetur, culpa cupiditate dolore dolores eveniet excepturi inventore itaque numquam optio, quaerat voluptas. Eius impedit nemo obcaecati? Quam, quas!</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a routerLink="/orders/add-orders" class="btn btn-success btn-sm">Create Order</a>
      </div>
    </div>
    <div class="row mt-3">
  <div class="col">
    <table class="table table-hover bg-dark text-white table-striped table-success text-center">
      <thead>
  <tr>
    <td>SNO</td>
    <td>Order Number</td>
    <td>Order DueDate</td>
    <td>OrderTotal</td>
    <td>Customer buyerName</td>
    <td>Customer Address</td>
    <td>Customer Phone</td>
  </tr>
      </thead>
  <tbody class="text-center bg-white text-dark ">
  <tr *ngFor="let order of orders">
    <td>{{order._id.substr(order._id.length-3)}}</td>
    <td>{{order.orderNumber}}</td>
    <td>{{order.orderDueDate}}</td>
    <td>{{order.orderTotal}}</td>
    <td>{{order.customerbuyerName}}</td>
    <td>{{order.customerAddress}}</td>
    <td>{{order.customerPhone}}</td>
    <td>
      <a routerLink="/orders/{{order._id}}" class="btn btn-secondary text-white btn-sm" name="update">Update</a>
      <button (click)="clickDeleteProduct(order._id)" class="btn btn-danger btn-sm">Delete</button>
    </td>
  </tr>
  </tbody>
    </table>
  </div>
    </div>
  </div>
